html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 15rem;
  min-height: 100%;
  background-color: black;
  color: gray;
}

.page-wrap {
  margin: 0 auto;
}

/**
 * Footer Styles
 */
.site-footer{
  background-color: gray;
  right: 0;
  bottom: 0;
  left:0;
  padding: 1rem;
  background: solid;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: black;
 }


 /* icon */
 .iconlink{
   width:170px;
   margin: 20px auto;
 }
 .smallbox{
   width: 50px;
   height: 50px;
   margin: 0 2px;
   float: left;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
 }
 .box1{
   background-image: url("../images/icons/github.png");
 }
 .box2{
   background-image: url("../images/icons/linkicon.png");
 }
 .box3{
   background-image: url("../images/icons/stackicon.png");
 }
 .box1:hover{
   background-image: url("../images/icons/githubicon.png");
 }
 .box2:hover{
   background-image: url("../images/icons/link-icon.jpg");
 }
 .box3:hover{
   background-image: url("../images/icons/stack.png");
 }
.bg-red{
  background-color: red!important;
  color:white!important;
}

 .container{
   text-align: center;
   border: dotted 5px;
   border-color: yellow;
   margin: auto;
   padding: 10%;
   font-size: 35px;
 }
 h1{
   color: green;
   margin-bottom: 50px;
 }
 #LIMIT{
   font-size: 50px;
   color: red;
 }
 #message{
   font-size: 50px;
 }
 #outPut{
   font-size: 90px;
 }
